<% layout('layout') -%>

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-offset-2">
			<div class="col-lg-6">
				<a href="/add-category" class="btn btn-primary btn-lg">Add Category</a>
			</div>
			<div class="col-lg-6">
				<a href="/add-product" class="btn btn-primary btn-lg">Add Product</a>
			</div>
		</div>
	</div>
</div>
