<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/bower_components/bootstrap-social/bootstrap-social.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/css/custom.css">
</head>
<body>
	<% include ./partials/navbar %>
	<%- body -%>
	<div class="container">
		<hr>
		<% include ./partials/footer %>
	</div>
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript" src="/bower_components/spin.js/spin.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
