<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">
</head>
<body>

	<% include ./partials/navbar %>

	<div class="container">
		<%- body -%>
		<hr>
		<% include ./partials/footer %>
	</div>
</body>
</html>
